<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.arcadedestroyer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Game Collection 2020!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.project.arcadedestroyer.Controller.SignupActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.project.arcadedestroyer.Controller.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.project.arcadedestroyer.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.project.arcadedestroyer.AnimalRacing.AnimalRacingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.project.arcadedestroyer.Snake.SnakeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.project.arcadedestroyer.CardFlipper.CardFlipperActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.project.arcadedestroyer.CardFlipper.GameActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.project.arcadedestroyer.Sudoku.UI.SudokuActivity" android:screenOrientation="portrait"/>

        <service android:name="com.project.arcadedestroyer.Method.UpdateStatus" />
    </application>

</manifest>